/* * {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
} */

.container {
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
  color: black;
}

.box-shadow {
  /* box-shadow: 20px 0 20px green; */
  box-shadow: 20px 0 20px cornflowerblue;
  border-radius: 50%;
  width: 200px;
  margin-left: 40%;
  padding: 20px;
}

nav {
  margin: 30px 0;
  /* background-color: rgba(0, 0, 0, 0.6); */
  /* background-color: cornflowerblue; */
  background-color: rgba(100, 149, 237);
  border-radius: 5px;
  position: sticky;
  top: 0%;
  z-index: 100;
}

ul {
  display: flex;
}

ul li {
  padding: 10px 60px;
  font-size: 20px;
}

ul li a:hover {
  color: yellow;
}

h1:hover {
  background-color: skyblue;
  color: blue;
}

.content {
  margin: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  /* position: absolute; */
  border-radius: 100%;
  width: 400px;
  /* margin-right: 120px; */
  margin-right: 55%;
}

.box {
  font-size: 20px;
  margin-left: 50%;
  position: absolute;
  background-color: rgb(203, 217, 241);
  border-radius: 60%;
  padding: 80px 90px 0;
  width: 300px;
  height: 400px;
  box-shadow: 20px 0 40px rgb(74, 134, 238);
}

p {
  padding: 0 0 0 10px;
}

h3 {
  margin-top: 30pxpx;
  /* box-shadow: 20px 0 20px green; */
  box-shadow: 20px 0 20px cornflowerblue;
  /* box-shadow: 20px 0 20px red; */
  text-align: center;
  /* border-radius: 50%; */
  /* width: 200px; */
  /* margin-left: 40%; */
  padding: 10px;
}
/* p {
  position: absolute;
} */
